* {
    border: solid red 1px;
}

body {
    background-color: #FFF3CF;
    font-family: "Rubik Mono One", Arial, sans-serif;
}

.hero-background-image {
    background-image: url(images/coffee-shop-hero.jpeg);
    background-size: cover;
    background-position: center;
    border-bottom: black solid 3px;
    height: 100vh;
}

.hero-logo {
    max-width: 50%;
}

h1 {
    background-color: #FE8261;
    color: #FDEBC8;
    max-width: 50%;
    
}

h2 {
    color: #FDEBC8;
}

.nav-cust-styles {
    background-color: #FE8261;
    color: #FDEBC8;
}

.cust-menu-btn {
    background-color: #FE8261;
    color: #FDEBC8;
}

.cust-menu-btn:hover {
    background-color: #009DDD;
}

.modal-header,
.card-header {
    background-color: #FE8261;
}

.cust-footer-bg-color {
    background-color: #009DDD;
}

.footer-logo {
    width: 40px;
}